/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
a {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  text-decoration: none;
  color:    black;
}
/* }
.jumbo {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
} */

header{
    background-image: url(/img/textback.jpg);
    background-size: cover;
    height: auto; !important;
    
    
  
}
.about {
  text-transform: capitalize;
}
.navtext{
    text-decoration: none;
    color:  white;
    font-weight: bold;
}
.card-img-top{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.yes{
    box-shadow: 3px 3px 3px 3px;
}
.navbar{
    position:   sticky;
    background-color: #252323;
    box-shadow: 3px 3px 3px 3px;
    border: solid 1px  #FfF1Ed ;
}
.navbar-toggler{
    border: 2px;
    border-color: aqua;
}
.btn-info{
    font-weight: bold;
}
section{
    background-color: #FfF1Ed;
}
h2{
    text-align: center;
}
.email{
    font-size: x-large;
    font-weight: bold;
}
.fa-brands{
    text-decoration: none;
    color: white;
}
.fa-brands:hover{
    color: gray;
}